<html>

    <head>
        <title> EXEMPLOS DE MÉTODOS HTTP </title>
    </head>

    <body>
        <h1> EXEMPLOS DE MÉTODOS HTTP </h1>

        <h2> GET </h2>
        <form action='/metodoGET' method="GET">
            <button type='submit'> GET REQUEST </button>
        </form>

        <h2> POST </h2>
        <form action='/metodoPOST' method="POST">
            <button type='submit'> POST REQUEST </button>
        </form>

        <h2> PUT </h2>
        <form action='/metodoPUT' method="POST">
            <input type='hidden' name='_method' value='PUT'>
            <button type='submit'> PUT REQUEST </button>
        </form>

        <h2> DELETE </h2>
        <form action='/metodoDELETE' method="POST">
            <input type='hidden' name='_method' value='DELETE'>
            <button type='submit'> DELETE REQUEST </button>
        </form>

    </body>

</html>