<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuário</h2>
    <form action="/registro" method="post">
        <label for="username">Nome de Usuário:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Senha:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="tela">Tela Associada:</label><br>
        <input type="text" id="tela" name="tela"><br><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
