{% extends 'base.html' %}

{% block conteudo %}
<hr>
<h2 style="text-align: center;"> ATIVIDADE PRÁTICA </h2>
<hr>

<br>

<h3> Lista de Clientes </h3>
<hr>

<table class="table">
    
    <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">E-MAIL</th>
          <th scope="col">TELEFONE</th>
          <th scope="col">DATA DE NASCIMENTO</th>
        </tr>
    </thead>

    {% for cliente in clientes %}
            <tbody>
            <tr>
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.tel}}</td>
                <td>{{cliente.data}}</td>
            </tr>
            </tbody>

    {% endfor %}
</table>


<br>
<h3> Adicionar Clientes </h3>
<hr>
<!--
    Para fazer referencia/ligação a uma rota pode-se utilizar o url_for, como abaixo
    <form action="{{url_for('principal')}}" method="POST">

    ou então outro jeito simples?
 -->
<form action="/" method="POST">
    <div class="form-group">
        <label for="InputNome">Nome</label>
        <input name='nome' type="text" class="form-control" id="InputNome" placeholder="Digite o nome">
    </div> <br>

    <div class="form-group">
      <label for="InputEmail">Email</label>
      <input name='email' type="email" class="form-control" id="InputEmail" placeholder="Digite o email">
    </div> <br>

    <div class="form-group">
      <label for="InputTelefone">Telefone</label>
      <input name='tel' type="text" class="form-control" id="InputTelefone" placeholder="(00)0.0000.0000">
    </div> <br>

    <div class="form-group">
        <label for="InputDate">Data de Nascimento</label>
        <input name='data' type="date" class="form-control" id="InputDate">
    </div>
    
    <br>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>

{% endblock conteudo %}