{% extends 'base.html' %}

{% block lista %}

<div class='table-responsive'>
    <table class="table table-dark align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Num. Contato</th>
                <th scope="col">Grupo</th>
                <th scope="col">Descrição</th>
              </tr>
        </thead>

        <tbody>
            <tr>
              
            </tr>

            <tr class="align-bottom">
              
            </tr>

            <tr>
              <td>1</td>
              <td>Joaozinho</td>
              <td>jznh@gmail.com</td>
              <td>81988996633</td>
              <td>Sao José</td>
              <td class="align-top">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consectetur ea provident recusandae blanditiis. Saepe facere iusto accusamus aut voluptatum aliquam cumque similique explicabo, temporibus, porro, velit eaque quia quaerat.</td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock lista %}