<!DOCTYPE html>
<html lang="pt-BT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>

    <div class="container">
        <div class="row mt-5">
            <div class="spContainer mx-auto">
                <div class="card px-4 py-5 border-0 shadow">
                    <div class="d-inline text-left mb-3">
                        <h3 class="font-weight-bold">Login</h3>
                        <p>Access the most popular project management app in indonesia !</p>
                    </div>

                    <div class="d-inline text-center mb-0">
                        <div class="form-group mx-auto">
                        <input class="form-control inpSp" type="text" name='user' placeholder="Usuário">
                        </div>
                    </div>

                    <div class="d-inline text-center mb-3">
                        <div class="form-group mx-auto">
                        <input class="form-control inpSp" type="password" name='senha' placeholder="Senha">
                        </div>
                    </div>

                    <div class="d-inline text-left mb-3">
                        <div class="form-group mx-auto">
                        <button class="btn btn-primary">Entrar</button>
                        <a class="small text-black-50 pl-2 ml-2 border-left" href="">Esqueceu a senha? ?</a>
                        </div>
                    </div>

                    <div class="d-inline text-left mb-1">
                        <div class="form-group mx-auto mb-0">
                        <label class="text-black-50 small">or login with</label>
                        </div>
                    </div>

                    <div class="d-inline text-left">
                        <div class="form-group mx-auto">
                            <button type="button" class="btn btn-sm btn-light"> <span class="badge text-white"><i class="fab fa-google text-danger"></i></span>
                                Google
                            </button>

                            <button type="button" class="btn btn-sm btn-light ml-2"> <span class="badge text-white"><i class="fab fa-facebook-f text-primary"></i></span>
                                Facebook
                            </button>
                        </div>
                    </div>

                        <div class="d-inline text-left mt-3">
                            <div class="form-group mx-auto mb-0">
                                <a class="text-black font-weight-bold regStr" href="#">Register new account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>